{% extends "base.html" %}

{% block content %}
  <div class="md-container">
    <div class="md-content">
      <h1>Page not found</h1>
      <p>The page you are looking for does not exist, or it has moved. Sorry about that.</p>
      <p>If you are seeing this page after following a link on this website, please notify the maintainer by <a href="https://github.com/odisfm/cxp-manual/issues">raising an issue on GitHub</a>.</p>
      <p><a href="/">Return to homepage</a>.</p>
    </div>
  </div>
{% endblock %}